---
import '@/styles/globals.css'
import second from "@/assets/hero.png";
const { title } = Astro.props;
const description = "Astro and Supabase demo app";
const ogImageURL = second
const canonicalURL = new URL(Astro.url).href;
---
 
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL.src} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL.src} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body>
    <main class="min-h-screen">
      <div class="z-10 h-50 w-full max-w-5xl items-center justify-between text-xl lg:flex container">
        
          <a href="https://xata.io" class="w-20">
            <img src="https://raw.githubusercontent.com/xataio/examples/main/docs/app_logo.svg" />
          </a>
          <div class="inline-flex gap-2">
            <a href="/signin">Sigin</a>
            <a href="/register">Register</a>
          </div>
        </div>
      </div>
      <slot />
    </main>
  </body>
</html>